<link rel="stylesheet" href="~/css/About.css" />
<div class="about-section">
    <h1>About SAR Bank</h1>
    <p>
        SAR stands for samir,aayush and rajendra.The team of three people who contributed to built this web application.

        This is a very good banking application where one can deposite or withdraw their money in a secure way.
    </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/Raj.jpg" alt="Raj" style="width:100%">
            <div class="container">
                <h2>Rajendra Karki</h2>
                <p class="title">Owner</p>
                <p>SAR is a very good bank.</p>
                <p>samip@gmail.com</p>
                <p><button class="button" color="red">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/samir.jpg" alt="Samir" style="width:100%">
            <div class="container">
                <h2>Samir Karki</h2>
                <p class="title">Manager</p>
                <p>SAR is a very good bank..</p>
                <p>samir@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/aayush.jpg" alt="Aayush" style="width:100%">
            <div class="container">
                <h2>Aayush Humagain</h2>
                <p class="title">Clerk</p>
                <p>SAR is a very good bank.</p>
                <p>aayush@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>